.select {
  margin-left: 20px;
}

.date-from {
  margin-left: 20px;
}

.date-to {
  margin-left: 25px;
}

.search {
  margin-left: 20px;
  margin-top: 20px;
}

.count {
  margin-left: 25px;
}

.reset {
  margin-left: 25px;
}

mat-cell {
  padding: 10px;
}

mat-header-cell {
  background: whitesmoke;
}

mat-table {
  padding-left: 20px;
  padding-right: 20px;
}
.container{
  width: 90%;
  margin: auto;
  padding: 10px;
}
